{
  "project_ref": "qtoiurlefwodxjcichgz",
  "service_role_key": "<PASTE_NEW_SERVICE_ROLE_KEY_HERE>",
  "vapid_public_key": "<PASTE_VAPID_PUBLIC_KEY_HERE>",
  "vapid_private_key": "<PASTE_VAPID_PRIVATE_KEY_HERE>",
  "github_repo": "GloryMat2025/appmat"
}
