.orders-container {
  padding: 12px;
}

.loading-box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.empty-orders {
  text-align: center;
  margin-top: 50px;
}

.empty-orders img {
  width: 150px;
  opacity: 0.6;
}

.empty-orders p {
  font-size: 16px;
  color: #777;
}
